.NavBar{
    position:fixed;
    height: 20%;
    width: 100%;
    background-color:gray;
}
.navbar{
    display: flex;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem ;
    justify-content: space-between;
    
}
.web{
    font-size: large;

}
